body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: rgb(23, 23, 172);
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 20px;
}