body{
    background-color: rgb(56, 42, 42);
    color: rgb(213, 170, 89);
}
h1{
    font-size: 38px;
    color:beige;
    text-align: center;
}
h2{
    font-size: 45px;
    color:rgb(35, 181, 181);
    text-align: center;
}
p{
    font-size: 26px;
    color: azure;
}
li{
    font-size: 22px;
    color: rgb(239, 244, 244);
    text-decoration: underline;
    font-weight: bold;
}
#lit{
    color: red;
}
#pretty{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: pink;
}
.common{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: aliceblue;
    border: 2px solid white;
    position: absolute;
}

.left{
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;

}
.footer{
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 50px;
    background-color: rgb(223, 55, 55);
    color: white;
    text-align: center;
}
.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(63, 202, 56);
    color: white;
    text-align: center;
}
.purpletext{
    color: rgb(223, 55, 55);
}
.redtext{
    color: red
}